{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block css %}
    <link href="{% static 'main/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/css/bootstrap-icons.css' %}">
    {% endblock css %}
    <script src="{% static 'main/js/bootstrap.bundle.min.js' %}"></script>
    <title>{{ title }}</title>
  </head>
 

  <body class="bg-light">
   <div class="container-xxl my-md-8 ">
    {% include "main/navbar.html" %}
  </div>

  
 
  {% block content %}
  {% endblock content %}
</div>
</body>
</html>