{% extends "main/base.html" %}

{% block content %}
{% include "main/message.html" %}
<form action="{% url 'users:login' %}" method="post">
    {% csrf_token %}
<div class="col-md-8 mx-auto vh-100 d-flex flex-column justify-content-center align-items-center">
<div class="form-floating mb-3">
    {{ form.username }}
    <label for="{{ form.username.id_for_label }}">Логин</label>
  </div>
  <div class="form-floating">
      {{ form.password }}
    <label for="{{ form.password.id_for_label }}">Пароль</label>
  </div>
  <input class="btn btn-dark my-3" type="submit" value="Войти">
  <h6>Нету аккаунта? <a href="{% url 'users:register' %}">Зарегистрироваться!</a></h6>
</div>
</form>

{% endblock content %}