{% with url_name=request.resolver_match.url_name %}
<div class="nav-scroller bg-body shadow-sm">
    <nav class="nav nav-underline" aria-label="Secondary navigation">
      <a class="nav-link {% if url_name == 'profile' %}active{% endif %}" aria-current="page" href="{% url 'users:profile' %}">Профиль</a>
      <a class="nav-link {% if url_name == 'profile_pdf' %}active{% endif %}" href="{% url 'users:profile_pdf' %}">
        PDF/JPG
        <span class="badge bg-light text-dark rounded-pill align-text-bottom">{{ count }} </span>
      </a>
      <a class="nav-link" href="#">TEXT/MP3</a>

    </nav>
  </div>
  {% endwith %}
