{% extends "main/base.html" %}
{% load static %}
{% block css %}
<link href="{% static 'main/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'main/css/offcanvas.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'main/css/bootstrap-icons.css' %}">
{% endblock css %}
{% block content %}
{% include "users/profile_nav.html" %}
<div class="col-md-4 py-4 px-4">
    <div class="mb-3">
        <label for="{{ form.username.id_for_label }}">Логин</label>
        {{ form.username }}
        
      </div>
      <div class="mb-3">
        <label for="{{ form.email.id_for_label }}">Почта</label>
          {{ form.email }}
        
      </div>
{% endblock content %}
